# OMEGA SOVEREIGN INTELLIGENCE - VAULT CREDENTIALS
# AMARAN: Jangan komited fail .env sebenar ke repositori.

OMEGA_MASTER_KEY="664cfa66dd01ff09bb3715dd36ddb9f8c30ff55f8f3ff5631ec4d73a00f13731"
OMEGA_WALLET_ADDRESS="0x92804D1607Fe7F43ce4267842Ea05e9A9e2A3f37"
